/* * {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    
} */

/* .layout-grid {
    margin: 0 auto;
    width: 90%;
    height: 100%;
} */

html {
    scroll-behavior: smooth;
    
}

body {
    background-color: rgb(17, 84, 207);
    font-size: 30px arial;
    
    
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    color: black;
    margin: auto;
    cursor: pointer;
}
div {
    text-align: center;
    padding: 10px;
}

#msg {
    cursor: pointer;

}

#imagem {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}



footer {
   color: white;
   text-align: center;
   font-style: italic;
}